<div class="row">
    <div class="col-sm-3 center"></div>
  <div class="col-sm-6 center">
<form #contactForm="ngForm" (ngSubmit)="saveAction(contact)">
    <div class="card text-left">
    
      <div class="card-header">
            <h3 class="card-title">{{ pageTitle }}</h3> 
        </div>
    
        <div class="card-body">
          <div class="form-group" [class.has-error]="name.invalid && name.touched">
            <label for="name" class="control-label">Name</label>
            <input id="name" required name="name" [(ngModel)]="contact.name" type="text" 
            class="form-control" #name="ngModel"/>
            <span class="help-block" *ngIf="name.invalid && name.touched">
              Name is required
            </span>
          </div>
          <div class="form-group" [class.has-error]="phone.invalid && phone.touched">
              <label for="phone" class="control-label">Phone</label>
              <input id="phone" required name="phone" [(ngModel)]="contact.phone" type="text" 
              class="form-control" #phone="ngModel">
              <span class="help-block" *ngIf="phone.errors?.required && phone.touched">
                  Phone is required
                </span>
                <span class="help-block" *ngIf="phone.errors?.phone && phone.touched">
                    Phone is invalid
                  </span>        </div>
            <div class="form-group" [class.has-error]="email.invalid && email.touched">
              <label for="email">Email</label>
              <input id="email" required [email]="contact.email !==''" name="email" [(ngModel)]="contact.email" type="email" 
              class="form-control" #email="ngModel">
              <span class="help-block" *ngIf="email.errors?.required && email.touched">
                  Email is required
                </span>
              <span class="help-block" *ngIf="email.errors?.email && email.touched">
                  Email is invalid
                </span>
            </div>
            <div class="form-group" [class.has-error]="birthday.invalid && birthday.touched">
              <label for="dob">DOB</label>
              <input id="dob" required name="birthday" [(ngModel)]="contact.birthday" type="date"
              class="form-control" #birthday="ngModel">
              <span class="help-block" *ngIf="birthday.invalid && birthday.touched">
                  Birthday is required
                </span>        
            </div>
            <div class="form-group">
              <label for="avatar">Avatar</label>
              <input id="avatar" name="avatar" [(ngModel)]="contact.avatar" type="url" 
              class="form-control" #avatar="ngModel">
            </div>                                    
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Save</button>
          <button type="submit" class="btn btn-primary" (click)='cancelAction'>Cancel</button>
        </div>
    </div>
    </form>    
 </div>
 <div class="col-sm-3 center"></div>
 </div>
