<div class="card card-primary">
  <div class="card-header">
      {{pageTitle}}
  </div>
  <div class="card-body">
      <div class="table-responsive-md">
          <table class="table table-bordered table-hover table-light table-striped"
                  *ngIf='contacts && contacts.length'>
              <thead class="thead-light">
                  <tr>
                      <th>Avatar</th>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Birthday</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let contact of contacts">
                    <td>
                          <img
                              [src]='contact.avatar'
                              [title]='contact.name'
                              class="imageSize">
                    </td>
                    <td><a [routerLink]="['/contacts', contact.id]">
                              {{ contact.name }}
                          </a>
                      </td>
                      <td>{{ contact.phone }}</td>
                      <td>{{ contact.email }}</td>
                      <td>{{ contact.birthday | date:'MM/dd/yyyy' }} </td>
                      <td> <button [routerLink]="['/edit', contact.id]" type="submit" class="btn btn-primary">Edit</button></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

